<div class="back-link">
  <button routerLink="/students">Back to Students</button>
</div>
<div class="add-student">
  <h3>{{ isEditMode ? 'Edit Student' : 'Add Student' }}</h3>
  <form #studentForm="ngForm" (ngSubmit)="onSubmit()">
    <input name="firstName" [(ngModel)]="newStudent.firstName" placeholder="First name">
    <input name="lastName" [(ngModel)]="newStudent.lastName" placeholder="Last name">
    <input name="email" [(ngModel)]="newStudent.email" placeholder="Email">
    <input name="lvl" [(ngModel)]="newStudent.lvl" placeholder="Level (1-5)">
    <input name="facultyId" [(ngModel)]="newStudent.facultyId" type="number" placeholder="Faculty ID">
    <br>
    <button type="submit">{{ isEditMode ? 'Update' : 'Add' }}</button>
  </form>
</div>
