<div class="back-link">
  <button routerLink="/students">Back to Students</button>
</div>
<div class="add-student">
  <h3>{{ isEditMode ? 'Edit Student (Reactive)' : 'Add Student (Reactive)' }}</h3>
  <form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
    <input formControlName="firstName" placeholder="First name">
    <div class="error" *ngIf="studentForm.get('firstName')?.invalid && studentForm.get('firstName')?.touched">
      First name is required (min 2 characters).
    </div>

    <input formControlName="lastName" placeholder="Last name">
    <div class="error" *ngIf="studentForm.get('lastName')?.invalid && studentForm.get('lastName')?.touched">
      Last name is required (min 2 characters).
    </div>

    <input formControlName="email" placeholder="Email">
    <div class="error" *ngIf="studentForm.get('email')?.invalid && studentForm.get('email')?.touched">
      Valid email is required.
    </div>

    <input formControlName="lvl" placeholder="Level (1-5)">
    <div class="error" *ngIf="studentForm.get('lvl')?.invalid && studentForm.get('lvl')?.touched">
      Level must be 1-5.
    </div>

    <input formControlName="facultyId" type="number" placeholder="Faculty ID">
    <div class="error" *ngIf="studentForm.get('facultyId')?.invalid && studentForm.get('facultyId')?.touched">
      Faculty ID is required.
    </div>

    <button type="submit" [disabled]="studentForm.invalid">{{ isEditMode ? 'Update' : 'Add' }}</button>
  </form>
</div>